body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ffb6d5, #ffe6f0);
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.container {
  
  padding: 40px 60px;
  border-radius: 25px;
  text-align: center;
  z-index: 10;
  position: relative;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.gif {
  width: 150px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin top: 20px
}

button {
  padding: 14px 30px;
  font-size: 1rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background: hotpink;
  color: white;
  transition: transform 0.2s ease;
}

button:hover {
  transform: scale(1.1);
}

#confetti{
  position:fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}
